{% extends "base.html" %}

{% block content %}

<div>
    <div class = "p-3 mb-2 bg-danger text-white">
        <div class="media">
            <img src="https://media.nationalgeographic.org/assets/photos/120/983/091a0e2f-b93d-481b-9a60-db520c87ec33.jpg" style="width:100%" class="img-fluid" alt="Responsive image">
            <div class="media-body">
              <h4 class="mt-0">What is Crop Recommadation ?</h4>
              <p>Precision agriculture is a modern farming technique that uses research data of soil characteristics, soil types, crop yield data collection and suggests the farmers the right crop based on their site-specific parameters.</p>
            </div>
        </div>
    </div>
</div

{% endblock %}